body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1F2833;
    background-image: url('images/image7.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: linear-gradient(45deg, #66FCF1, #1F2833);
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(45deg, #66FCF1, #1F2833);
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
    border: 2px solid transparent; 
}

nav ul li a:hover {
    color: #66FCF1;
    border-color: #66FCF1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

section ul {
    text-align: center;
}

section {
    display: none;
    background: linear-gradient(45deg, #66FCF1, #1F2833);
    border: 2px solid #bdc3c7;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 70%;
}

h2, h3 {
    text-align: center;
    color: #66FCF1;
}

.team-member {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.team-member img {
    width: 250px;
    height: auto;
    margin-top: 10px;
}

/* Additional styles for the contact forms */
.ramos-button {
    background-color:#66FCF1; 
    color: #2980b9;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}

.ramos-button:hover {
    background-color: #1F2833; 
}

.gutierrez-button {
    background-color: #66FCF1; 
    color:  #2980b9;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}

.gutierrez-button:hover {
    background-color:   #1F2833; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
    color: #66FCF1;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #66FCF1;
    border-radius: 4px;
    background-color: #1F2833;
    color: #fff;
}

form button {
    padding: 10px 20px;
    background-color: #66FCF1;
    color: #1F2833;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}

form button:hover {
    background-color: #1F2833;
    color: #66FCF1;
}

/* Additional styles for projects section */
.project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.project img {
    width: 40%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto; /* Center align the images */
    border-radius: 8px;
    margin-top: 10px;
}

.project h3 {
    width: 40%; 
    text-align: center;
}

/* Styles for Ramos's projects */
#projectsRamos .project img {
    border: 2px solid #66FCF1; 
}

/* Styles for Gutierrez's projects */
#projectsGutierrez .project img {
    border: 2px solid #66FCF1 ; 
}

.about-info {
    margin-bottom: 20px; 
}

.about-buttons button {
    margin: 5px; 
} 